nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
main, aside {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 20px;
}
main {
    background-color:rgb(26, 25, 25);
    width: 1641px;
    padding: 119px;
    text-align: center;
}

form {
    flex-direction: column;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.assunto {
    padding: 50px;
}

label {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    main, aside {
        display: block;
        width: 100%;
    }
}